<style>
        body {
            background-image: url("background.gif");
            background-repeat: repeat;
            background-size: cover;
        }
    </style>
}
#image {
	float:left;

}

#description {
	float:right;

}

#review {
	clear: both;

}

#review2 {
	clear: both;

}